@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.background-roxo-gradiente {
    background: linear-gradient(to bottom, #ffffff 0%, #65529d 100%);
}

.background-roxo {
    background-color: #65529d;
}

.text-roxo {
    color: #65529d;
}